* {
  font-family: "PT serif", gentium-book-basic, serif;
}
body {
  /*font-size: 14px;*/
  background: #E5E5E5;
  font-family: "PT serif", gentium-book-basic, serif;
}
#p2{
  margin-top: 17px;
}
a {
  text-decoration: underline; 
  color: black;
  font-family: "PT serif", gentium-book-basic, serif;
  font-weight: 500;
  word-wrap: break-word;
  /*font-size: 100%;*/
  /*transition: color .4s ease-in-out;*/
}

a:hover {
  color: #fad8d9;
}
.nav-item{
  padding: 0px 5%;
}
a.nav-link{
  color: #DBDBDB;
  transition: color .4s ease-in-out;
  display: block;
  margin-right: 0px;
  font-weight: 500;
  text-decoration: underline;
  padding: 10px 5%;
  /*pointer-events: none;*/
}

a.nav-link:hover{
  color: #666;
  transition: color .4s ease-in-out;
}
a.nav-link-full{
  text-decoration: none;
  display: inline;
  padding: 0px 10px;
}
a.sub-menu-item:hover{
  color: black;
  background: #eaeaea;
  transition: color .4s ease-in-out;
  text-decoration: none;
}
.indented-item{
  width: 100vw;
}
li.work-dropdown-item{
  list-style-type: none;
  padding-left: 5px;
  width: 100vw;
}
#nav-1{
  padding: 18px 10vw; 
  background: black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
#nav-full{
  padding: 14px 11.5vw; 
  background: black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
#logo-full{
  width: 57%;
}
#navbarContent{
  position: fixed;
  margin: 0px 35px 35px 35px;
  padding: 1vw 0px;
  opacity: 0;
  pointer-events: none;
}
#navbarContainer{
  position: fixed;
  top: 0px;
  /*opacity: 0;*/
  background: black;
  margin: 82px 10.2vw 0px 9.8vw;
  /*padding: 50px;*/
  width: 78.65%;
  height: 0px;
}
.navbar-toggler{
  position: fixed; 
  right: 10vw; 
  top: 2%;
  border: none;
}
a.inline-link{
  color: black;
}
a.inline-link:hover{
  color: #fad8d9;
}

a.profile-link{
  color: black;
}
a.profile-link:hover{
  color: #fad8d9;
}

.dropdown-item a {
  padding: 12px 16px;
  /*text-decoration: none;*/
  display: block;
}

#work-dropdown-full{
  position: absolute;
  right: 0.3vw;
  top: 40px;
  height: 195px;
  pointer-events: none;
  background: white;
  width: 240px;
  height: 300;
  padding: 20px 20px;
  border-top: 3px solid black;
  /*display: none;*/
  opacity: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: opacity .15s ease-in-out;
  
}

#body-text{
  font-family: "PT serif", gentium-book-basic, serif;
  font-weight: 500;
  line-height: 1.45em;
  word-wrap: break-word;
  font-size: 98%;
}

.dropdown-content-large{
  display: block;
  -webkit-font-smoothing: antialiased;
  padding: 6px 20px;
  /*display: block;*/
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 2em;
  /*pointer-events: none;*/

}
.dropdown-content-large:hover{
  color: black;
  text-decoration: none;
  background: #F9F9F9;
  transition: background .4s ease-in-out;
}
.dropdown{
  display: inline;
  padding-bottom: 30px;
  transition: opacity .45s ease-in-out;

}
.dropdown:hover #work-dropdown-full {
  pointer-events: auto;
  opacity: 1;
}

.grid-container{
  display: grid;
  grid-template-columns: auto 41vw;
  grid-template-rows: 33.2% auto;
}
#email-bottom{
  color: #fad8d9;
  margin-right: 100px;
  text-decoration: none;
}
#email-bottom:hover{
  text-decoration: underline;
}
.fixed-bottom{
  background: black;
  color: white;
  text-align: right;
  padding: 7px;
}

#workTitle{
  font-size: 32px;
  font-family: open Sans;
}
.work-link{
  text-decoration: none;
  font-size: 25px;
  font-family: Open Sans;
}
.underline{
  text-decoration: underline;
}
/*work pages*/
#titleOfWork{
  font-size: 32px;
  font-family: open Sans;
  padding: 5px 0 20px 0;
}
.center-listbox{
  background-color: #ffffff; 
  border: 5px solid #000000; 
  padding-top: 15px !important; 
  padding-right: 20px !important; 
  padding-bottom: 15px !important; 
  padding-left: 20px !important; 
  max-width: 400px; 
  display: inline-block;
  float: left;
  margin: auto;
}
.center-listbox li {
  padding-left: 10px;
  margin-left: -27px;
  width: 20.5vw;
}

.column-1{
  margin-left: 0;
}
.column-2{
  margin-top: 0;
}

.subheading-content{
  line-height: 1.5em;
  padding-bottom: 1em;
  font-size: 12px;
  padding: 0;
}
.subheading-column{
  display: inline-block;
  float: left;
}
.subheading-column-1{
  display: inline-block;
}
.subheading-column-2{
  display: inline;
}
.subheading-p{
  max-width: 150px;
}
.subheading-p-2{
  max-width: 350px;
}
.hr-bottom{
  margin-top: 143px;
}
h2 {
  margin: 60px 0px 35px 0px;
}
h4 {
  font-size: 18px;
}
.ul-unindent{
  /*-webkit-padding-start: 15px;*/
  padding-left: 1em;
  padding-bottom: 1em;
}
li{
  padding-left: 5px;
}
.sub-list {
  margin-left: 20px;
}
.scroll-to-top{
  cursor: pointer;
  position: fixed;
  padding: 5px;
  right: -40px;
  bottom: 125px;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.4);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.ol-unindent{
  margin-left: -40px;
}
.fa-chevron-up{
  pointer-events: none;
}
.image_div{
  position: relative;
  width: 150%;
  margin: 60px -50px 50px -50px;
  height: auto;
}
.row_images_single{
  display: grid;
  grid-template-columns: auto;
}
.row_images_single .image_div{
  margin: 0;
  width: 100%;
}
.row_images_double{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 27%;
}
.row_images_triple .image_div{
  position: relative;
  width: 100%;
  margin: 0;
  /*left: 8%;*/
}
.row_images_triple{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5%;
}
.image_div img{
  display: block;
  width: 100%;
  height: auto;
  /*display: inline-block;*/
  /*float: left;*/
}
.expand_overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /*margin-top: -50px;*/
  /*transform: translate(50%,0%);*/
  /*text-align: center;*/
  background-color: white;
}
.fa-plus-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  text-align: center;
  color: grey;
  transition: .5s ease;
  /*opacity: 0;*/
}
.image_div:hover .fa-plus-circle{
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.image_div:hover .expand_overlay{
  opacity: 0.9;
}
.image-inline-block{
  margin: 10px 0;
  width: 100%;
}



/*mobile*/
@media only screen and (min-width: 320px) {
  #navbarContainer, #navbar-collapsible{
    display: block;
  }
  #navbar-container-full{
    display: none;
  }
  #photo-and-text {
    /*margin-top: 178px; */
    /*margin-left: 10vw; */
    /*margin-right: 10vw;*/
  }
  /* mobile body-text fix*/
  #body-text{
    margin: 10px 0 30px 9.8vw;
  }
  #photo-left{
    margin: 36vw 0px 20px 9.8vw;
    display: block;
    width: 75vw;
    border: 5px solid black;
  }
  #photo{
    display: none;
    margin-left: 0px; 
    margin-top: 30px; 
    border: 5px solid black;
  }
  #profile-link-wrapper-mobile{
    display: block;
    margin-top: 28px;
  }
  #profile-link-wrapper-desktop{
    display: none;
  }
  #body-text-work{
    display: block;
    margin: 13% 5% 0% 6%;
  }
  #body-text-work-item{
    display: block;
    margin: 13% 5% 0% 10%;
  }
  #workTitle{
    padding: 30px 0px 25px 0px;
  }
  hr{padding-bottom: 20px;}
  .row{
    margin-left: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: 5.5%;
  }
  .center-listbox{
    display: block;
    float: left;
    margin: auto;
    margin-top: 35px;
    /*width: 400px;*/
    margin-bottom: ;
  }
  .center-listbox li {
    padding-left: 10px;
    margin-left: -27px;
    /*width: 20.5vw;*/
  }
  .row-single{
    margin-right: 10%;
  }
  .center-listbox-single{
    margin: auto;
    margin-top: 20px;
  }
  .center-listbox-single li{
    margin: auto;
    width: auto;
  }
}
/* mobile body-text fix*/
@media only screen and (min-width: 392px) {
  #body-text{
    margin: 10px -7vw 30px 9.8vw;
  }
  #photo-left{
    margin: 180px 0px 20px 9.8vw;
    display: block;
    width: 300px;
    border: 5px solid black;
  }
}
@media only screen and (min-width: 436px) {
  #body-text{
    margin: 10px -10vw 30px 9.8vw;
  }
}
@media only screen and (min-width: 448px) {
  #body-text{
    margin: 10px -14vw 30px 9.8vw;
  }
}
@media only screen and (min-width: 466px) {
  #body-text{
    margin: 10px -18vw 30px 9.8vw;
  }
}
@media only screen and (min-width: 532px) {
  #body-text{
    margin: 10px -27vw 30px 9.8vw;
  }
}
@media only screen and (min-width: 595px) {
  #body-text{
    margin: 10px -31vw 30px 9.8vw;
  }
}
@media only screen and (min-width: 680px) {
  #body-text{
    margin: 10px -270px 30px 9.8vw;
  }
}
/*tablet & desktop*/
@media only screen and (min-width: 980px) {
  #body-text{
    margin: 10px -270px 30px 9.8vw;
  }
  .center-listbox{
    display: inline-block;
    float: left;
    margin: auto;
    width: auto;
    margin-top: 0;
  }
  .center-listbox li {
    width: 20.5vw;
  }
  .center-listbox-single li{
    width: 40vw;
  }
  .row{
    margin-left: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 5.5%;
  }
  .row-single{
    grid-gap: 0;
    padding: 0 20%;
    margin-top: 40px;
    margin-right: 0;
  }
  #body-text-work{
    margin: 10% 26% 0% 25%;
  }
  #body-text-work-item{
    margin: 130px 25% 0% 22%;
  }
  #workTitle{
    padding: 30px 0px 15px 0px;
  }
  hr{padding-bottom: 7px;}
  #navbarContainer, #navbar-collapsible{
    display: none;
  }
  #navbar-container-full{
    display: block;
  }
  #photo-left{
    display: none;
  }
  #photo {
    display: block;
    /*margin-top: 178px; */
    /*display: block;*/
    /*float: right;*/
    width: 33.2%;
    /*margin-bottom: 20px;*/
  }
  #photo-wrapper{
    margin-top: 110px;
    /*margin-left: 55%; */
    /*margin-right: 24.8%;*/
  }
  #body-text{
    display: block;
    /*margin-top: 5%; */
    margin-left: 45.5%; 
    margin-right: 2%; 
    /*margin: -3% 41% 0 22%;*/
  }
  #profile-link-wrapper-mobile{
    display: none;
  }
  #profile-link-wrapper-desktop{
    /*position: relative; */
    /*margin-left: 61%; */
    margin-top: 22px;
    display: block;
    /*margin-left: 55%;*/
  }
}